{% extends 'base.html' %}

{% block title %} | Dashboard {% endblock %}
{% block content %}

{% load humanize %}
<!-- Sub banner start -->
<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>داشبورد</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'home' %}">خانه</a></li>
                <li class="active">{{user.first_name}}</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->

<!--   Dashboard Start   -->

<div class="container mt-50 mb-50">
  {% include 'includes/messages.html' %}
	<ul class="nav nav-tabs justify-content-start flex-row-reverse">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#menu1">سوالات</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#menu2">خودرو های من</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#menu3">خودرو های خریداری شده</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#menu4" id="test">سبد خرید</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#menu5">خودرو های فروشی</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#menu6">خودرو های فروخته شده</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#menu7">افزودن</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#menu8">ویرایش</a>
    </li>
  </ul>
  
  <!-- Tab panes -->
  <div class="tab-content mt-50">
    <div class="tab-pane container fade active show" id="menu1">
      <div class="main-title text-right">
        <h1>خوش آمدید <span>{{user}}</span></h1>
        <p> در اینجا لیست تمام ماشین هایی که در مورد آنها سوال کرده اید آمده است:</p>
      </div>
      {% if inquiries %}
        <table class="table table-hover table-bordered table-striped">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Car Name</th>
            <th scope="col">Location</th>
            <th scope="col">Action</th>
          </tr>
          </thead>
          <tbody>

          {% for inquiry in inquiries %}
            <tr>
              <!-- <th scope="row">{{ forloop.counter }}</th> -->
              <th scope="row">1</th>
              <td>{{inquiry.car_title}}</td>
              <td>{{inquiry.city}}</td>
              <td><a href="{% url 'car_detail' inquiry.car_id %}" class="btn btn-dark">View Car</a></td>
            </tr>
          {% endfor %}
          </tbody>
        </table><!-- Log on to codeastro.com for more projects -->
    {% else %}
    <div class="alert alert-primary text-right" role="alert">
      <h4 class="text-right">شما هیچ سوالی ندارید!!</h4>
    </div>
      
    {% endif %}

    </div>

    <div class="tab-pane container fade" id="menu2">
      {% if cars %}
      <div class="row">
        {% for car in cars %}
          <div class="col-lg-6 col-md-6">
              <div class="car-box-3">
                  <div class="car-thumbnail">
                      <a href="{% url 'car_detail' car.id %}" class="car-img">
                          <a class="tag" href="{% url 'for_sale' car.id %}">برای فروش</a>
                          <!-- <a class="tag" href="{% url 'for_sale' car.id %}">برای فروش</a> -->
                          <div class="price-box">
                              <span>$ {{car.price | intcomma }}</span>
                          </div>
                          <img class="d-block w-100" src="{{car.car_photo.url}}" alt="car"  style="min-height: 262px; max-height: 262px;">
                      </a>
                  </div>
                  <div class="detail">
                      <h1 class="title">
                          <a href="{% url 'car_detail' car.id %}">{{car.car_title}}</a>
                      </h1>
                      <div class="location">
                          <a href="{% url 'car_detail' car.id %}">
                              <i class="flaticon-pin"></i>{{car.state}}, {{car.city}}
                          </a>
                      </div>
                      <ul class="facilities-list clearfix">
                          <li>{{car.fuel_type}}</li>
                          <li>{{car.miles | intcomma }} miles</li>
                          <li>{{car.transmission}}</li>
                          <li>{{car.body_style}}</li>
                          <li>{{car.color}}</li>
                          <li>{{car.year}}</li>
                      </ul>
                      <a href="{% url 'delete_car' car.id %}" class="btn btn-danger btn-block mt-5">حذف</a>
                  </div>
              </div>
          </div>
      {% endfor %}



      </div>
      {% else %}
      <div class="alert alert-primary text-right" role="alert">
        <h4 class="text-right">!!شما هیچ خودرویی ندارید</h4>
      </div>
      {% endif %}
    </div>
    <div class="tab-pane container fade" id="menu3">
      {% if cars1 %}
      <div class="row">
        {% for car in cars1 %}
          <div class="col-lg-6 col-md-6">
              <div class="car-box-3">
                  <div class="car-thumbnail">
                      <a href="{% url 'car_detail' car.car.id %}" class="car-img">
                          <!-- <div class="tag">برای فروش</div> -->
                          <div class="price-box">
                              <span>$ {{car.car.price | intcomma }}</span>
                          </div>
                          <img class="d-block w-100" src="{{car.car.car_photo.url}}" alt="car"  style="min-height: 262px; max-height: 262px;">
                      </a>
                  </div>
                  <div class="detail">
                      <h1 class="title">
                          <a href="{% url 'car_detail' car.car.id %}">{{car.car.car_title}}</a>
                      </h1>
                      <div class="location">
                          <a href="{% url 'car_detail' car.car.id %}">
                              <i class="flaticon-calendar"></i> {{car.date}}
                          </a>
                      </div>
                      <ul class="facilities-list clearfix">
                          <li>{{car.car.fuel_type}}</li>
                          <li>{{car.car.miles | intcomma }} miles</li>
                          <li>{{car.car.transmission}}</li>
                          <li>{{car.car.body_style}}</li>
                          <li>{{car.car.color}}</li>
                          <li>{{car.car.year}}</li>
                      </ul>
                  </div>
              </div>
          </div>
  {% endfor %}
      </div>
      {% else %}
      <div class="alert alert-primary text-right" role="alert">
        <h4 class="text-right">شما هیچ خودرویی خریداری نکردید!!</h4>
      </div>
      {% endif %}
    </div>
    <div class="tab-pane container fade" id="menu4">
      <div class="main-title text-right">
        <h2>مبلغ کل: {{ total_price }}</h2>
        <a href="{% url 'cancle_cart' %}" class="btn btn-lg btn-danger">لغو</a>
        <a href="{% url 'confirm_cart' %}" class="btn btn-lg btn-success">تایید</a>
      </div>
      <div class="row">
        {% for car in cart_cars %}
          <div class="col-lg-6 col-md-6">
              <div class="car-box-3">
                  <div class="car-thumbnail">
                      <a href="{% url 'car_detail' car.id %}" class="car-img">
                          <a class="tag" href="{% url 'cancle_from_cart' car.id %}">حذف از سبد خرید</a>
                          <div class="price-box">
                              <span>$ {{car.price | intcomma }}</span>
                          </div>
                          <img class="d-block w-100" src="{{car.car_photo.url}}" alt="car"  style="min-height: 262px; max-height: 262px;">
                      </a>
                  </div>
    <!-- Log on to codeastro.com for more projects -->
                  <div class="detail">
                      <h1 class="title">
                          <a href="{% url 'car_detail' car.id %}">{{car.car_title}}</a>
                      </h1>
                      <div class="location">
                          <a href="{% url 'car_detail' car.id %}">
                              <i class="flaticon-pin"></i>{{car.state}}, {{car.city}}
                          </a>
                      </div>
                      <ul class="facilities-list clearfix">
                          <li>{{car.fuel_type}}</li>
                          <li>{{car.miles | intcomma }} miles</li>
                          <li>{{car.transmission}}</li>
                          <li>{{car.body_style}}</li>
                          <li>{{car.color}}</li>
                          <li>{{car.year}}</li>
                      </ul>
                  </div>
              </div>
          </div>
  {% endfor %}



      </div>
    </div>
    <div class="tab-pane container fade" id="menu5">
      {% if cars_for_sale %}
      <div class="row">
        {% for car in cars_for_sale %}
          <div class="col-lg-6 col-md-6">
              <div class="car-box-3">
                  <div class="car-thumbnail">
                      <a href="{% url 'car_detail' car.id %}" class="car-img">
                          <a class="tag" href="{% url 'cancle_sale' car.id %}">لغو فروش</a>
                          <div class="price-box">
                              <span>$ {{car.price | intcomma }}</span>
                          </div>
                          <img class="d-block w-100" src="{{car.car_photo.url}}" alt="car"  style="min-height: 262px; max-height: 262px;">
                      </a>
                  </div>
                  <div class="detail">
                      <h1 class="title">
                          <a href="{% url 'car_detail' car.id %}">{{car.car_title}}</a>
                      </h1>
                      <div class="location">
                          <a href="{% url 'car_detail' car.id %}">
                              <i class="flaticon-pin"></i>{{car.state}}, {{car.city}}
                          </a>
                      </div>
                      <ul class="facilities-list clearfix">
                          <li>{{car.fuel_type}}</li>
                          <li>{{car.miles | intcomma }} miles</li>
                          <li>{{car.transmission}}</li>
                          <li>{{car.body_style}}</li>
                          <li>{{car.color}}</li>
                          <li>{{car.year}}</li>
                      </ul>
                  </div>
              </div>
          </div>
      {% endfor %}



      </div>
      {% else %}
      <div class="alert alert-primary text-right" role="alert">
        <h4 class="text-right">!!شما هیچ خودرویی برای فروش ندارید</h4>
      </div>
      {% endif %}
    </div>

    <div class="tab-pane container fade" id="menu6">
      {% if sold %}
      <div class="row">
        {% for car in sold %}
          <div class="col-lg-6 col-md-6">
              <div class="car-box-3">
                  <div class="car-thumbnail">
                      <a href="{% url 'car_detail' car.id %}" class="car-img">
                          <div class="price-box">
                              <span>$ {{car.price | intcomma }}</span>
                          </div>
                          <img class="d-block w-100" src="{{car.car_photo.url}}" alt="car"  style="min-height: 262px; max-height: 262px;">
                      </a>
                  </div>
                  <div class="detail">
                      <h1 class="title">
                          <a href="{% url 'car_detail' car.id %}">{{car.car_title}}</a>
                      </h1>
                      <div class="location">
                          <a href="{% url 'car_detail' car.id %}">
                              <i class="flaticon-calendar"></i> {{car.date}}
                          </a>
                      </div>
                      <ul class="facilities-list clearfix">
                          <li>{{car.fuel_type}}</li>
                          <li>{{car.miles | intcomma }} miles</li>
                          <li>{{car.transmission}}</li>
                          <li>{{car.body_style}}</li>
                          <li>{{car.color}}</li>
                          <li>{{car.year}}</li>
                      </ul>
                  </div>
              </div>
          </div>
      {% endfor %}



      </div>
      {% else %}
      <div class="alert alert-primary text-right" role="alert">
        <h4 class="text-right">!!شما هیچ خودرویی نفروخته اید</h4>
      </div>
      {% endif %}
    </div>

    <div class="tab-pane container fade" id="menu7">
      <div class="container">
        <div class="row text-center">
            <div class="col-lg-12 col-md-12">
                <div class="form-section">
                    
                    <h3>ثبت خودرو</h3>

                    {% include 'includes/messages.html' %}
                    <form action="{% url 'add_car' %}" method="POST" enctype="multipart/form-data">
                      {% csrf_token %}
                        <div class="form-group form-box">
                            <input type="text" name="car_title" class="input-text w-50" placeholder="عنوان خودرو" required>
                            <!-- <i class="fa fa-user"></i> -->
                        </div>
                        <div class="form-group form-box">
                            <input type="text" name="city" class="input-text w-50" placeholder="شهر" required>
                            <!-- <i class="fa fa-user"></i> -->
                        </div>
                        <div class="form-group form-box">
                            <input type="text" name="color" class="input-text w-50" placeholder="رنگ" required>
                            <!-- <i class="fa fa-user"></i> -->
                        </div>
                        <div class="form-group form-box">
                            <input type="number" name="price" class="input-text w-50" placeholder="قیمت" required>
                            <!-- <i class="flaticon-mail"></i> -->
                        </div>
                        <div class="form-group form-box">
                            <input type="file" name="img" class="input-text w-50" required>
                            <!-- <i class="flaticon-lock"></i> -->
                        </div>
                        <div class="form-group form-box">
                            <input type="text" name="engine" class="input-text w-50" placeholder="موتور" required>
                            <!-- <i class="flaticon-lock"></i> -->
                        </div>
                        <div class="form-group form-box">
                          <input type="number" name="miles" class="input-text w-50" placeholder="مایل" required>
                          <!-- <i class="flaticon-lock"></i> -->
                      </div>
                      <div class="form-group form-box">
                        <input type="text" name="fuel_type" class="input-text w-50" placeholder="نوع سوخت" required>
                        <!-- <i class="flaticon-lock"></i> -->
                    </div>
                        <div class="form-group mb-0 clearfix">
                            <button type="submit" class="btn-md btn-success">ثبت</button>
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="tab-pane container fade" id="menu8">
      <div class="container">
        <div class="row text-center">
            <div class="col-lg-12 col-md-12">
                <div class="form-section">
                    
                    <h3>ویرایش خودرو</h3>

                    {% include 'includes/messages.html' %}
                    <form action="{% url 'update_car' %}" method="POST" enctype="multipart/form-data">
                      {% csrf_token %}
                      <div class="form-group form-box">
                        <select name="id" class="w-50 mt-5">
                          {% for car in cars %}
                            <option value="{{ car.id }}">{{ car.id }}</option>
                          {% endfor %}
                        </select>
                        <!-- <i class="fa fa-user"></i> -->
                    </div>
                        <div class="form-group form-box">
                            <input type="text" name="car_title" class="input-text w-50" placeholder="عنوان خودرو">
                            <!-- <i class="fa fa-user"></i> -->
                        </div>
                        <div class="form-group form-box">
                            <input type="text" name="city" class="input-text w-50" placeholder="شهر">
                            <!-- <i class="fa fa-user"></i> -->
                        </div>
                        <div class="form-group form-box">
                            <input type="text" name="color" class="input-text w-50" placeholder="رنگ">
                            <!-- <i class="fa fa-user"></i> -->
                        </div>
                        <div class="form-group form-box">
                            <input type="number" name="price" class="input-text w-50" placeholder="قیمت">
                            <!-- <i class="flaticon-mail"></i> -->
                        </div>
                        <div class="form-group form-box">
                            <input type="file" name="img" class="input-text w-50" >
                            <!-- <i class="flaticon-lock"></i> -->
                        </div>
                        <div class="form-group form-box">
                            <input type="text" name="engine" class="input-text w-50" placeholder="موتور">
                            <!-- <i class="flaticon-lock"></i> -->
                        </div>
                        <div class="form-group form-box">
                          <input type="number" name="miles" class="input-text w-50" placeholder="مایل">
                          <!-- <i class="flaticon-lock"></i> -->
                      </div>
                      <div class="form-group form-box">
                        <input type="text" name="fuel_type" class="input-text w-50" placeholder="نوع سوخت">
                        <!-- <i class="flaticon-lock"></i> -->
                    </div>
                        <div class="form-group mb-0 clearfix">
                            <button type="submit" class="btn-md btn-success">ثبت</button>
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
    </div>
  </div>
</div>

<!--   Dashboard End   -->

{% endblock %}
